.btn {
    .inline-b();
    padding: 16px 15px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    @media @tablet-width {
        margin-bottom: 45px;
    }
    @media @desktop-width {
        padding: 15px 25px;
        letter-spacing: 1px;
        font-size: 2rem;
        margin-bottom: 64px;
    }
}
