.layout-center-wrapper {
	.clearfix();
  width: 280px;
  padding:0 20px;
  margin: 0 auto;

  @media @tablet-width {
    width: 620px;
    padding:0 40px;
    margin: 0 auto;

  }

  @media @desktop-width {
    width: 940px;
    padding:0 130px;
    margin: 0 auto;

  }
}


// .header {
  // width:100%;
  // background-image: url("../img/background-mobile@1x.jpg");
  // background-position: top center;
  // background-repeat: no-repeat;
  // background-color: @background-color--dark;
  // margin-bottom: 24px;
  
  //   @media @screen-tablet {
  //     background-image: url("../img/background-tablet@1x.jpg");
  //     @retina {
  //     background-image: url("../img/background-tablet@2x.jpg");
  //     }
  //     .clearfix ();
  //   }
  //   @media @screen-desktop {
  //     background-image: url("../img/background-fullsize.jpg");
  //     background-size: 107%, cover;
  //     background-position: top center;
  //     margin-bottom: 36px;
  //   }