.review-slider {
    position: relative;
    min-height: 310px;
    outline: 1px dotted blue;
    margin: 0 auto;
    @media @tablet-width {
    display: flex;
    flex-direction: column-reverse;
    height: 197px;

    }
    @media @desktop-width {
        justify-content: center;
    }
}

.review-slider__slide {
    min-height: 220px;
    // width: 280px;
    float: left;
    color: #283645;
    font-size: @fz-lit;
    line-height: 1;
    @media @tablet-width {

    }
    @media @desktop-width {}
}

// как перескакивают после умегьшения экрана????
.review-slider__slide header{
  font-size: 1.8em;
  font-weight: @fw_medium;
  text-align: center;
    @media @tablet-width {
         flex-basis: 33px;
        font-size: 2em;
        line-height: 3em;
        padding-bottom: 0px;
        letter-spacing: 0.5px;
    }
    @media @desktop-width {
         font-size: 2.4em;
    }
}

.review-slider__slide div{
     display: none;
    @media @tablet-width {
         display: block;
        flex-basis: 28px;
        font-size: 1.4em;
        text-align: center;
        line-height: 3em;
        font-weight: 400;
    }
    @media @desktop-width {
        font-size: 1.8em;
    }
}

.review-slider  input[type=radio] {
    position:absolute;
    opacity:0;
    @media @tablet-width {
        display: none;
    }
    @media @desktop-width {
        display: none;
    }
}



.review-slider__slide:nth-child(2) {
    display: none;
    
    @media @tablet-width {}
    @media @desktop-width {}
}

.review-slider__slide:nth-child(3) {
    display: none;
    
    @media @tablet-width {}
    @media @desktop-width {}
}



.review-slider__slide p {
     font-size: 1.4em;
      font-weight:@fw_base;
      .center;
      line-height: 3rem;
      margin: 0px 20px;
    @media @tablet-width {
         font-size: 1.8em;
        flex-basis: 125px;
        padding: 0px 20px 0px 20px;
    }
    @media @desktop-width {
        width: 700px;
        margin: 0 auto;
    }
}

.toggle-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    border: 1px dotted green;
    z-index: 1000;
    @media @tablet-width {
        display: none;
    }
    @media @desktop-width {}
}

.toggle-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    @media @tablet-width {}
    @media @desktop-width {}
}


 .review-slider__arrow {
    display: none;
     
     @media @tablet-width {
        position: relative;
     }
    @media @desktop-width {
        display: none;
    }
 }

